.container {
  padding: 0;

  .topContainer {
    display: flex;
    flex-direction: column;

    align-items: center;

    h1 {
      line-height: 1.2;
    }
    & > h1:first-of-type {
      font-size: 11.1em;
    }
    & > h1:nth-child(2) {
      font-size: 3.54em;
    }
    & > h2:first-of-type {
      font-size: 2.96em;
    }
    h2 {
      font-size: 3.41em;
    }
  }

  .btnContainer {
    margin-top: 10vh;
    display: flex;

    justify-content: center;
    width: 100%;

    & > .btn:first-of-type {
      margin-right: 15px;
    }
  }

  .icons {
    margin-top: 10vh;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;

      list-style-type: none;

      li {
        padding: 14px;
        img {
          height: 40px;
        }
      }
    }
  }
}
