.portItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 82%;
  
  .btnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    & > .btn2:first-of-type{
      margin-right: 20px;
    }
  }
  
  }
  .pItem {
   padding: 30px;
    margin: 10px;
    border-radius: 2px;
    width: 380px;
    height: 510px;
   
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   

    h3 {
      font-size: 2.2em;
      line-height: 1;
      font-family: $secondFont;
      text-transform: uppercase;
      max-width: 300px;
      flex-grow: 1;
    }
  }

