// Colors
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$mainColor: #ffffff;
$borderColor: #222831;
$liOrange: #13aa52;
$hoverColor: lighten($borderColor, 5%);
$bodyFont:  'Zilla Slab', serif;
$secondFont: "Poppins", sans-serif;
$subHeading: 'Jost', sans-serif;

.green {
  color: $liOrange;
}

@mixin flexColCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin gradient {
  background: $borderColor;
  background: -webkit-linear-gradient(top left, $borderColor, $hoverColor);
  background: -moz-linear-gradient(top left, $borderColor, $hoverColor);
  background: linear-gradient(to bottom right, $borderColor, $hoverColor);
}
/* Color Theme Swatches in RGBA */

@mixin shadow {
  -webkit-box-shadow: 0px 0px 8px 3px rgba($borderColor, 0.1);
    -moz-box-shadow: 0px 0px 8px 3px rgba($borderColor, 0.1);
    box-shadow: 0px 0px 8px 3px rgba($borderColor, 0.1);
}