@import "config";
@import "../components/navbar/navbar";
@import "../components/hero/hero";
@import "../components/home/home";
@import "../components/portfolio/portfolio";
@import "../components/cv/cv";
@import "../components/contact/contact";
@import "../components/footer/footer";
@import "../components/404/_404";
@import "mediaQueries";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
 

}


.container {
  width: 100%;
  @include flexColCenter;
  background-position: top;
  background-size: cover;
  min-height: 95vh;
  
}
.app-wrap {
  display: flex;

  width: calc(100% - 65px);
  background-color: $mainColor;
  float: right;
  color: $borderColor;
  justify-content: center;
  font-weight: 400;
  font-family: $secondFont;
}

.btn {
  padding: 12px 17px;
  text-align: center;
  width: 245px;
  border: none;
  text-decoration: none;
  background-color: $borderColor;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-family: $secondFont;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    color: $liOrange;
    transition: ease-in 0.3s;
    background-color: $hoverColor;
  }
}

.btn2 {
  text-decoration: none;
  font-family: $secondFont;
  text-transform: uppercase;
  color: $mainColor;
  font-size: 1.2em;
  border-radius: 2px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 15px;
  backface-visibility: hidden;
  
  &:hover {
   
    transform: translate(0px, -5px);
    transition: transform 0.3s;
    
  }
}
