.nav-wrap {
  height: 100vh;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $borderColor;
  position: fixed;
  z-index: 999;
 
  // border-left: 1px solid $borderColor;
  // border-right: 1px solid $borderColor;

  nav {
    height: 100vh;
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    font-size: 32px;
   

    .link {
      padding: 15px;
      // border-bottom: 1px solid $borderColor;
      color: $mainColor;
    
     
      &:hover {
        background-color: $hoverColor;
        color: $liOrange;
        transition: ease-in 0.2s;
      }
    }
  }
}

.current {
  background-color: $hoverColor;
  outline: none;
  color: $liOrange;
}
