

header {
   display: flex;
  justify-content: center;
  
    line-height: 1;
    margin-bottom: 5vh;
    
   
    
    h1 {
        font-size: 80px;
       
    }
    
    h3 {
        color: $liOrange;
        font-size: 35px; 
    }
}

