header {
  margin-bottom: 5vh;
  width: 100%;
  @include flexColCenter;

  line-height: 1.2;

  .topHero {
    width: 100%;
    @include flexColCenter;
  }
  h1 {
    font-size: 6em;
    color: $borderColor;
    text-transform: uppercase;

    letter-spacing: 5px;
  }

  h3 {
    color: $liOrange;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: $bodyFont;
  }
}
